---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Affiche Audition de guitare">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Affiche Audition de guitare"
      description="Un professeur de musique m’a sollicité pour créer l’affiche d’un événement d’audition de guitare. Il souhaitait un design à la fois simple et percutant. J’ai donc opté pour une grande silhouette de guitare sur le côté, un élément visuel fort et représentatif de l’événement."
      />

      <img src="/assets/images/posts/guitareaudition.jpg" class="relative z-30 w-full my-10 rounded-xl" />
      <img src="/assets/images/posts/moodboardguitare.jpg" class="relative z-30 w-full my-10 rounded-xl" />

  </section>
</Layout>
