---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Projet Idée Détente">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Projet Idée Détente"
      description="Le projet consistait à concevoir l'identité visuelle du site internet d’une masseuse ouvrant son premier cabinet. Mon travail impliquait de réfléchir à l’identité visuelle du site, en définissant les couleurs et la typographie. L’annonceur souhaitait un design doux, avec des éléments inspirés de la nature."
      />

      <img src="/assets/images/posts/ideedetente.jpg" class="relative z-30 w-full my-10 rounded-xl" />
      L’idée des pierres chaudes empilées reflete parfaitement l’activité de l’annonceur. Non seulement elles font partie de ses pratiques, mais elles symbolisent aussi l’équilibre et l’harmonie. Ce choix me semble plus pertinent que ma seconde version du logo.
      <img src="/assets/images/posts/ideedetentecharte.jpg" class="relative z-30 w-full my-10 rounded-xl" />
      En effet, j’ai repris l’illustration du flyer conçu par l’annonceur. Cependant, comme sa patientèle est variée en âge et en genre, je trouvais que le logo avait une connotation trop féminine, ce qui pouvait laisser penser qu’il s’adressait uniquement aux femmes. C’est pourquoi j’ai opté pour les pierres, un élément plus neutre et universel.
      <img src="/assets/images/posts/moodboardideedetente.jpg" class="relative z-30 w-full my-10 rounded-xl" />
      <img src="/assets/images/posts/idee1.jpg" class="relative z-30 w-full my-10 rounded-xl" />
      <img src="/assets/images/posts/idee2.jpg" class="relative z-30 w-full my-10 rounded-xl" />
    </p>
  </section>
</Layout>
