---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="La Duchesse">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="La Duchesse | Stage HIVER 2024"
      description="Lors de mon stage de 6 semaines au sein de l'agence de communication 'C Tout Comme' à Dijon, j'ai eu l'opportunité de travailler avec ma tutrice, une graphiste, qui crée chaque année un guide destiné aux femmes enceintes appelé 'La Duchesse'. J'ai été responsable de la mise à jour du site internet, de la gestion des publications, ainsi que de la création de templates pour les réseaux sociaux. En outre, j'ai participé à la réalisation de montages vidéo et de Reels pour la plateforme Instagram. Ce stage m'a permis de développer mes compétences sur la suite Adobe. Ce fut une expérience particulièrement formatrice."
    />

    <img src="/assets/images/posts/laduchessemin.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Site Internet</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
    <img src="/assets/images/posts/captureduchesse.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <img src="/assets/images/posts/captureladuchessepros.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Publications Instagram</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
    Entièrement réalisés sur Adobe InDesign, Illustrator et Photoshop.
    </p>
    <img src="/assets/images/posts/publicationspros.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <img src="/assets/images/posts/pubblicationspartenaires.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <img src="/assets/images/posts/publicationsnoel.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <img src="/assets/images/posts/publicationsdiverses.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <img src="/assets/images/posts/carrousel.jpg" class="relative z-30 w-full my-10 rounded-xl" />
    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"